
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f3f4;
    font-family: 'sans-sherif';
    color: #000;
}


.form-control{
    margin-top: 9px;
    margin-left: 3px;
    border: 1px solid pink !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
.input-group-text{
    background: pink !important;
    border: 1px solid pink !important;
    margin: 8.5px 10px 3px 0;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}
.search-box{
    display: inline-flex;
    width: 140%;
}
.fa-search{
    color: #fff;
}
@media only screen and (max-width: 980px)
{
    .top-nav-bar{
        height: 118px;
        border-bottom: 0;
    }
    .search-box{
        width:100;
    }
    
}
.side-menu{
    height: 79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    
}
.side-menu ul{
    margin-left: 10px;
    
}
.side-menu ul li{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu ul li:hover{
    color: pink;
}
.side-menu ul li ul{
    display: none;
    z-index: 10;
    top: 77px
}
.side-menu ul li:hover ul
{
    display: block;
    height: 400px;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.fa-angle-right{
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}
.navbar{
    display:  flex;
    align-items:  center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.sub-menu-1{
    display: none;
}
.container ul li:hover .sub-menu-1{
    display: block;
    position: absolute;background: pink;
    margin-top: 15px;
    margin-left: -15px;
}
.container ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 5px;
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 170%;
    padding: 5px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    transition: background 0.5s;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.btn:hover{
    background: #563434;
}
.header .row{
    margin-top: 70px;
}
.slider{
    width: 80%;
    margin-left: 15%;
    
    padding: 0 10px;
    
}
.carousel{
    box-shadow: 1px 1px 4px 1px rgpa(0,0,0,0.5);
}
.carousel-indicators{
    z-index: 1 !important;
}
.categories{
    margin: 70px 0;
    
}
col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
col-3 img{
    width: 100%;
}
.small-container{
    
    margin: auto;
    padding-right: 85px
}
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background: #000;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input{
    outline: none;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button
{
    text-transform: uppercase;
    outline: 0;
    background: pink;
    width: 100%;
    border: none;
    padding: 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
}
.form button:hover, .form button:active{
    background: red;
    border: none;
    
}
.form .message{
   margin: 15px 0 0;
    color: #fff;
    font-size: 12px;
}
.form .message a{
   color:p;
    text-decoration: none;
}
