<%- include("partials/header"); -%>     



        <div class="products-container">
          <div class="product-header">
            <h5 class="product-title">PRODUCT</h5>
          
              <h5 class="price">NAME</h5>
              <h5 class="price">PRICE</h5>
                <h5 class="quantity">QUANTITY</h5>
              
                  <h5 class="total">TOTAL</h5>

          </div>
          <!-- <form action="cart" method="POST"> -->
          <div class="products">

          </div>
        </div>
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <script type="text/javascript" src="/public/assets/index.js"></script>
        <div class="addtocart">
         
         <!-- <form action="cart" method="post"></form> -->
          <h5 style="text-align: center"><button ><ion-icon name="arrow-back-outline"></ion-icon>Continue Shopping</button>
            <button type="submit"  class="addbtn" >Checkout<ion-icon name="arrow-forward-outline"></ion-icon></button></h5>
                
        </div>

        <!-- </form> -->
        <!-- <form class="login-form-form" action="cart" method="POST">
          <input type="number" name="pid" placeholder="pid" required>
          <input type="number" name="qty" placeholder="qty" required>
          <input type="submit">
          </form>
      -->
        
        <%- include("partials/footer"); -%> 